*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
  }
  
  button {
    border-radius: 0;
  }
  
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }
  
  input,
  button,
  select,
  optgroup,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  button,
  input {
    overflow: visible;
  }
  
  button,
  select {
    text-transform: none;
  }
  
  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }
  
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    -webkit-appearance: listbox;
  }
  
  textarea {
    overflow: auto;
    resize: vertical;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #ffffff;
}

nav ul {
    list-style: none;
}

nav ul li {
    
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    color: #000;
}

nav ul li a:active {
    color: #000;
}

.nav-welcome {
    display: flex;
    justify-content: right;
}

.hero {
    min-width: 100%;
    height: 300px;
    background-color: #b0d6e2;
    display: flex;
    /* flex-direction column aligns vertically */
    flex-direction: column;
    /* center horizonally */
    justify-content: center;
    /* center vertically */
    align-items: center;
}

.hero h1 {
    /* 1rem = 16px */
    font-size: 3rem;
    text-transform: uppercase;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.primary-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #164d4d;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;

}

.container {
    width: 100vw;
    height: 100vh;
}

.form-space {
    margin-bottom: 2px;
}

.inner-container {
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  .alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
  }